In [2]:
import pandas as pd
import numpy as np
import datetime

In [8]:
ser1=pd.Series([1,2,3,4,5])
ser1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [10]:
ser1[3]

4

In [12]:
ser2=pd.Series([6,7,8,9,0], index=["a", "b","c","d","e"])
ser2

a    6
b    7
c    8
d    9
e    0
dtype: int64

In [14]:
dates=pd.date_range("2022-01-01", "2022-03-25")
dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12',
               '2022-01-13', '2022-01-14', '2022-01-15', '2022-01-16',
               '2022-01-17', '2022-01-18', '2022-01-19', '2022-01-20',
               '2022-01-21', '2022-01-22', '2022-01-23', '2022-01-24',
               '2022-01-25', '2022-01-26', '2022-01-27', '2022-01-28',
               '2022-01-29', '2022-01-30', '2022-01-31', '2022-02-01',
               '2022-02-02', '2022-02-03', '2022-02-04', '2022-02-05',
               '2022-02-06', '2022-02-07', '2022-02-08', '2022-02-09',
               '2022-02-10', '2022-02-11', '2022-02-12', '2022-02-13',
               '2022-02-14', '2022-02-15', '2022-02-16', '2022-02-17',
               '2022-02-18', '2022-02-19', '2022-02-20', '2022-02-21',
               '2022-02-22', '2022-02-23', '2022-02-24', '2022-02-25',
               '2022-02-26', '2022-02-27', '2022-02-28', '2022-03-01',
               '2022-03-02', '2022-03-03', '2022-03-04', '2022-03-05',
               '2022-03-06', '2022-03-07', '2022-03-08', '2022-03-09',
               '2022-03-10', '2022-03-11', '2022-03-12', '2022-03-13',
               '2022-03-14', '2022-03-15', '2022-03-16', '2022-03-17',
               '2022-03-18', '2022-03-19', '2022-03-20', '2022-03-21',
               '2022-03-22', '2022-03-23', '2022-03-24', '2022-03-25'],
              dtype='datetime64[ns]', freq='D')

In [17]:
dates=pd.date_range('2022-01-01', "2022-01-10")
dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10'],
              dtype='datetime64[ns]', freq='D')

In [19]:
temperatures=pd.Series([-12,-25,0,1,5,-2,-8,-25,0,1])
temperatures

0   -12
1   -25
2     0
3     1
4     5
5    -2
6    -8
7   -25
8     0
9     1
dtype: int64

In [21]:
temperatures=pd.Series([-12,-25,0,1,5,-2,-8,-25,0,1], index=dates)
temperatures

2022-01-01   -12
2022-01-02   -25
2022-01-03     0
2022-01-04     1
2022-01-05     5
2022-01-06    -2
2022-01-07    -8
2022-01-08   -25
2022-01-09     0
2022-01-10     1
Freq: D, dtype: int64

In [24]:
temperatures2=pd.Series([2,-23,-12,-8,1,5,-3,-10,-2,0], index=dates)
temperatures2

2022-01-01     2
2022-01-02   -23
2022-01-03   -12
2022-01-04    -8
2022-01-05     1
2022-01-06     5
2022-01-07    -3
2022-01-08   -10
2022-01-09    -2
2022-01-10     0
Freq: D, dtype: int64

In [26]:
temp_diff=temperatures-temperatures2
temp_diff

2022-01-01   -14
2022-01-02    -2
2022-01-03    12
2022-01-04     9
2022-01-05     4
2022-01-06    -7
2022-01-07    -5
2022-01-08   -15
2022-01-09     2
2022-01-10     1
Freq: D, dtype: int64

In [27]:
print(temp_diff.mean())

-1.5