In [4]:
import pandas as pd
import numpy as np
import datetime

In [5]:
dates=pd.date_range("2022-03-01", "2022-03-05")
dates

DatetimeIndex(['2022-03-01', '2022-03-02', '2022-03-03', '2022-03-04',
               '2022-03-05'],
              dtype='datetime64[ns]', freq='D')

In [7]:
ser1=pd.Series([1,2,3,4,5], index=dates)
ser1

2022-03-01    1
2022-03-02    2
2022-03-03    3
2022-03-04    4
2022-03-05    5
Freq: D, dtype: int64

In [21]:
ser2=pd.Series([3273, 13123, 88, 21, 84576], index=dates)
ser2

2022-03-01     3273
2022-03-02    13123
2022-03-03       88
2022-03-04       21
2022-03-05    84576
Freq: D, dtype: int64

In [22]:
frame1=pd.DataFrame(
    {"Series 1": ser1,
    "Series 2": ser2})
frame1

            Series 1  Series 2
2022-03-01         1      3273
2022-03-02         2     13123
2022-03-03         3        88
2022-03-04         4        21
2022-03-05         5     84576

In [23]:
frame1["Series 1"][0]

1

In [24]:
frame1["Series 1"]["2022-03-04"]

4

In [25]:
frame1["Sum"]=frame1["Series 1"]+frame1["Series 2"]
frame1

            Series 1  Series 2    Sum
2022-03-01         1      3273   3274
2022-03-02         2     13123  13125
2022-03-03         3        88     91
2022-03-04         4        21     25
2022-03-05         5     84576  84581

In [26]:
frame1.columns

Index(['Series 1', 'Series 2', 'Sum'], dtype='object')

In [29]:
frame2=frame1>5
frame2

            Series 1  Series 2   Sum
2022-03-01     False      True  True
2022-03-02     False      True  True
2022-03-03     False      True  True
2022-03-04     False      True  True
2022-03-05     False      True  True