In [1]:
import pandas as pd
import numpy as np
import datetime

In [3]:
dates=pd.date_range("2022-03-01", "2022-03-05")
dates

DatetimeIndex(['2022-03-01', '2022-03-02', '2022-03-03', '2022-03-04',
               '2022-03-05'],
              dtype='datetime64[ns]', freq='D')

In [19]:
ser1=pd.Series([2,3,4,5,6], index=dates)
ser1

2022-03-01    2
2022-03-02    3
2022-03-03    4
2022-03-04    5
2022-03-05    6
Freq: D, dtype: int64

In [24]:
ser2=pd.Series([3213,-23,312,1,-438], index=dates)
ser2

2022-03-01    3213
2022-03-02     -23
2022-03-03     312
2022-03-04       1
2022-03-05    -438
Freq: D, dtype: int64

In [25]:
frame1=pd.DataFrame(
    {"Series 1": ser1,
     "Series 2": ser2})
frame1

            Series 1  Series 2
2022-03-01         2      3213
2022-03-02         3       -23
2022-03-03         4       312
2022-03-04         5         1
2022-03-05         6      -438

In [28]:
frame1["Series 1"][0]

2

In [29]:
frame1["Series 1"]["2022-03-04"]

5

In [31]:
frame1["SUM"]=frame1["Series 1"]+frame1["Series 2"]
frame1

            Series 1  Series 2   SUM
2022-03-01         2      3213  3215
2022-03-02         3       -23   -20
2022-03-03         4       312   316
2022-03-04         5         1     6
2022-03-05         6      -438  -432

In [32]:
frame1.columns

Index(['Series 1', 'Series 2', 'SUM'], dtype='object')

In [36]:
frame2=frame1>5
frame2

            Series 1  Series 2    SUM
2022-03-01     False      True   True
2022-03-02     False     False  False
2022-03-03     False      True   True
2022-03-04     False     False   True
2022-03-05      True     False  False